{% extends "base.html" %}

{% block content %}
<h1>
  {{itn_items.name}}
  </h1>
  
  <link rel= "stylesheet" type= "text/css" href= "itinerary.css">
  <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
  <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

  <div class="btnToolbar">
      <a id="btnCreateNewOrder" href="#" class="btn">Add Activity</a>
      <a id="btnCreateNewList" href="#" class="btn">Add Day </a>
  </div>

  <script>
    var date = '{{ itn.start_date }}';
  </script>

  <div class="orders">
      <div class="column">
          <div class="box" data-title="{{itn.start_date}}">
              <div class="header">
                  {{itn.start_date}}
              </div>
              <div class="body">
                  <ul id="sortable1" class="droptrue">
                      
                      
                  </ul>
              </div>
          </div>
      </div>

      <div class="column">
          <div class="box" data-title="{{db.date2}}">
              <div class="header">
                {{itn.start_date2}}
              </div>
              <div class="body">
                  <ul id="sortable2" class="dropfalse">
                      <li class="ui-state-highlight">Add activity this format
                     
                      
                  </ul>
              </div>
          </div>

      </div>

      <div class="column">
          <div class="box" data-title="{{db.date3}}">
              <div class="header">
                {{itn.start_date3}}
              </div>
              <div class="body">
                  <ul id="sortable2" class="dropfalse">
                      
                      
                  </ul>
              </div>
          </div>
      </div>


     
      <!--            <div class="column">
      
                  </div>-->
  </div>

  <br style="clear:both">

  <div id="dialog-form" title="Create new activity">
      <form>
          <fieldset>
              
              <label for="company">Activity</label>
              <input type="text" name="company" id="company" value="" class="text ui-widget-content ui-corner-all">

              <label for="list"></label>
              <select id="list" name="list">
                  <option value="{{itn.start_date}}">{{itn.start_date}}</option>
                  <option value="{{itn.start_date2}}">{{itn.start_date2}}</option>
                  <option value="{{itn.start_date3}}">{{itn.start_date3}}</option>
              </select>

              <!-- Allow form submission with keyboard without duplicating the dialog button -->
              <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
          </fieldset>
      </form>
  </div>

  <div id="dialog-form-list" title="Add Day">
      <form id="formList">
          <fieldset>
          <label for="date">Date</label>
              <input type="date" name="listname" id="listname" value="Untitled" class="text ui-widget-content ui-corner-all">

              <!-- Allow form submission with keyboard without duplicating the dialog button -->
              <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
          </fieldset>
      </form>
  </div>


  <script>
      $(function () {
          function initSortable() {
              $(".column").sortable({
                  connectWith: ".column",
                  handle: ".header",
//                    cancel: ".header"
//                    placeholder: "portlet-placeholder ui-corner-all"
              });


              $("ul.droptrue").sortable({
                  connectWith: "ul"
              });

              $("ul.dropfalse").sortable({
                  connectWith: "ul",
//                    dropOnEmpty: false
              });

              $("#sortable1, #sortable2, #sortable3").disableSelection();
          }

          initSortable();

          $(".btn")
                  .button()
                  .click(function (event) {
                      event.preventDefault();
                  });

          function addOrder() {
              var valid = true;
//                    allFields.removeClass("ui-state-error");

//                    valid = valid && checkLength(name, "username", 3, 16);
//                    valid = valid && checkLength(email, "email", 6, 80);
//                    valid = valid && checkLength(password, "password", 5, 16);
//
//                    valid = valid && checkRegexp(name, /^[a-z]([0-9a-z_\s])+$/i, "Username may consist of a-z, 0-9, underscores, spaces and must begin with a letter.");
//                    valid = valid && checkRegexp(email, emailRegex, "eg. ui@jquery.com");
//                    valid = valid && checkRegexp(password, /^([0-9a-zA-Z])+$/, "Password field only allow : a-z 0-9");

              if (valid) {
                  selectedList = $('#list').find(":selected").text();
                  box = $('div').find("[data-title='" + selectedList + "']");
                  boxList = box.find('ul');

                  
                  var company = $('#company').val();

                  boxList.append("<li class=\"ui-state-highlight\">" + company + "</li>");

//                        $("#users tbody").append("<tr>" +
//                                "<td>" + name.val() + "</td>" +
//                                "<td>" + email.val() + "</td>" +
//                                "<td>" + password.val() + "</td>" +
//                                "</tr>");
                  dialog.dialog("close");
              }
              return valid;
          }

          dialog = $("#dialog-form").dialog({
              autoOpen: false,
              height: 380,
              width: 350,
              modal: true,
              buttons: {
                  "Add activity": addOrder,
                  Cancel: function () {
                      dialog.dialog("close");
                  }
              },
              close: function () {
//                        $("#dialog-form")[0].reset();
//                        allFields.removeClass("ui-state-error");
              }
          });

          function addList() {
              bodyWidth = $("body").width();
              nextWidth = bodyWidth + 300;
              $('body').css('width', nextWidth + 'px');

              var listName = $('#listname').val();

              $("div.orders").append("<div class=\"column\">" +
                      "<div class=\"box\" data-title=\"" + listName + "\">" +
                      "<div class=\"header\">" +
                      "    " + listName +
                      "</div>" +
                      "<div class=\"body\">" +
                      "    <ul id=\"sortable3\" class=\"droptrue\">" +
                      "    </ul>" +
                      "</div>" +
                      "</div></div>");

              initSortable();

              dialogList.dialog("close");
          }

          dialogList = $("#dialog-form-list").dialog({
              autoOpen: false,
              height: 250,
              width: 350,
              modal: true,
              buttons: {
                  "Add day": addList,
                  Cancel: function () {
                      dialogList.dialog("close");
                  }
              },
              close: function () {
//                        $("#dialog-form-list")[0].reset();
//                        allFields.removeClass("ui-state-error");
              }
          });

          form = dialog.find("form").on("submit", function (event) {
              event.preventDefault();
              addOrder();
          });

          form = dialog.find("#formList").on("submit", function (event) {
              event.preventDefault();
              addList();
          });

          $("#btnCreateNewOrder").button().on("click", function () {
              dialog.dialog("open");
          });

          $("#btnCreateNewList").button().on("click", function () {
              dialogList.dialog("open");
          });
      });

  </script>
<script src='dragdropswap.js'></script>

{% endblock %}
