{% extends "secondBase.html" %}
{% block content %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/secondbase.css') }}">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style2.css') }}">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/error.css') }}">
    <div class="msg">{{message}}</div>

{% endblock %}
