{% extends "base.html" %}

{% block content %}
  <div class="box">
    <h2>Sign Up</h2>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="notification">
      {{ messages[0] }}. Go to <a href="{{ url_for('auth.login_post') }}">login page</a>.
    </div>
    {% endif %}
    {% endwith %}
    <form method="POST" action="/signup">
        <div class="field">
            <div class="control">
                <input type="email" name="email" placeholder="Email" autofocus="">
            </div>
        </div>

        <div class="field">
            <div class="control">
                <input type="text" name="name" placeholder="Name" autofocus="">
            </div>
        </div>

        <div class="field">
            <div class="control">
                <input type="password" name="password" placeholder="Password">
            </div>
        </div>

        <button class="button-form">Sign Up</button>
    </form>
  </div>
{% endblock %}
