.cards-list {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  margin: 30px auto;
  width: 230px;
  height: 230px;
  border-radius: 40px;
  box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  cursor: pointer;
  transition: 0.3s;
  background-image: url('https://i.ibb.co/2SFNMSC/train-ride.png');
  background-size: 135%;
  background-position: center center;
}

.card .card_image {
  width: inherit;
  height: inherit;
  border-radius: 40px;
}

.card .card_image img {
  width: inherit;
  height: inherit;
  border-radius: 0px;
  object-fit: cover;
}

.card .card_title {
  text-align: left;
  border-radius: 0px 0px 40px 40px;
  font-weight: bold;
  font-size: 27px;
  color: black;
  margin-top: -210px;
  height: 40px;
}

.card:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
    -5px -5px 30px 15px rgba(0,0,0,0.22);
  background-image: url('https://cdn.dribbble.com/users/288987/screenshots/1898478/train-ride.gif');
}


.title-white {
  color: white;
}

.title-black {
  color: black;
}

@media all and (max-width: 500px) {
  .card-list {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}

.cards {
   display: flex;
   justify-content: space-between;
}

.card {
    flex: 0 1 24%;
}

@media screen and (min-width: 40em) {
    .cards {
   }
 
    .card {
    }
}
 
@media screen and (min-width: 60em) {
    .cards {
   }
     
    .card {
     }
}
 
 
@media screen and (min-width: 52em) {
    .centered {
        
    }
}

p {
  margin-right: 10px;
  margin-left: 10px;
}

small{
  margin:0px 20px 20px 0px;
}
