@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/*nav*/
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
}

header * {
    display: inline;
}

header li {
    margin: 15px;
}

header li a {
    color: white;
    text-decoration: none;
}
/*main*/
body {
    margin: 0;
    font-family: "Poppins", sans-serif;
}

.hero {
    /* Sizing */
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;

    /* Text styles */
    text-align: center;
    color: black; /* ADD THIS LINE */

    /* Background styles */
    background-image: linear-gradient(rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0)), url("https://i.ibb.co/9NS2CsQ/purple-pink-gradient-linear-1920x1080-c2-9370db-ffb6c1-a-45-f-14.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.hero h1{
  font-size: 40px;
  font-weight: lighter;
}

.hero h3{
  font-weight: lighter;
}

.hero .button-indv {
    /* Positioning and sizing */
    display: block;
    width: 150px;

    /* Padding and margins */
    padding: 16px 16px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;

    /* Text styles */
    color: black;
    text-decoration: none;
    font-size: 19px;

    /* Border styles */
    border: 2px solid white;
    border-radius: 50px;

    /* Background styles */
    background-color: rgba(149, 152, 156, 0.8);
}

.hero .button-indv:hover {
  background-color: rgba(149, 152, 156,0.9);
}

.box {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
  padding: 30px 50px 30px 50px;
  border-radius: 20px;
}

.box h2 {
  padding:0.25rem 1.5rem 0.1rem 1.5rem;
}

.notification {
  font-size: 14px;
  background-color:#a5bdc9;
  border-radius:4px;
  padding:1.25rem 2.5rem 1.25rem 1.5rem;
  position:relative;
}

.notification a:not(.button):not(.dropdown-item){
  font-size: 14px;
  color:currentColor;
  text-decoration:underline;
}

.field input[type="checkbox"] {
  margin-top: 20px;
  padding:1.25rem 2.5rem 1.25rem 1.5rem;
}
