@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/*nav*/
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
}

header * {
    display: inline;
}

header li {
    margin: 15px;
}

header li a {
    color: #563b8c;
    text-decoration: none;
}
/*main*/
body {
    margin: 0;
    font-family: "Poppins", sans-serif;
}

li {
  text-decoration: none
}

.hero {
    /* Sizing */
    display: flex;
    flex-direction: column;
    justify-content: center;

    /* Text styles */
    padding: 0px 50px;
    color: black; /* ADD THIS LINE */

    /* Background styles */
    background-color: #eee3ff;
    background-image: linear-gradient(315deg, #eee3ff 0%, #fffcff 74%);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.hero h1{
  font-size: 40px;
  font-weight: lighter;
}

.hero h3{
  font-weight: lighter;
}

.hero .button-indv {
    /* Positioning and sizing */
    display: block;
    width: 150px;

    /* Padding and margins */
    padding: 16px 16px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;

    /* Text styles */
    color: black;
    text-decoration: none;
    font-size: 19px;

    /* Border styles */
    border: 2px solid white;
    border-radius: 50px;

    /* Background styles */
    background-color: rgba(149, 152, 156, 0.8);
}

.hero .button-indv:hover {
  background-color: rgba(149, 152, 156,0.9);
}

.box {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
  padding: 30px 50px 30px 50px;
  border-radius: 20px;
}

.box h2 {
  padding:0.25rem 1.5rem 0.1rem 1.5rem;
}

.notification {
  font-size: 14px;
  background-color:#a5bdc9;
  border-radius:4px;
  padding:1.25rem 2.5rem 1.25rem 1.5rem;
  position:relative;
}

.notification a:not(.button):not(.dropdown-item){
  font-size: 14px;
  color:currentColor;
  text-decoration:underline;
}

.field input[type="checkbox"] {
  margin-top: 20px;
  padding:1.25rem 2.5rem 1.25rem 1.5rem;
}


.btnToolbar {
  margin: 30px 0px 0px;
  display: inline-flex;
  align-self: flex-end;
}

.itinerary {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.itinerary h1 {
  font-size: 30px;
}

div {
  display: block;
}

#inserts {
  overflow: auto;
  max-height: 365px;
}

.ui-button:hover {
    background-color: rgba(149, 152, 156,0.2);
}

.ui.button-0 {
  margin-right: 0;
}
.uni.button-auto {
  margin-left:auto;
}

#sortable1, #sortable2, #sortable3 {
    list-style-type: none;
    margin: 0;
    float: left;
    background: #ffe3f0;
    padding: 5px;
    border-radius: 10px;
    vertical-align: middle;
    text-align: center;
}

#sortable1 li, #sortable2 li, #sortable3 li {
    margin: 5px;
    padding: 5px;
    font-size: 1em;
    border-radius: 10px;
    cursor: move;
    list-style-type:none;
}


div.itnbox {
    width: 170px;
    display: inline-block;
    background-color: #ffe3f0;
    border-radius: 10px;
}

div.header {
    text-align: center;
    font-weight: bold;
    padding: 10px 5px 5px;
}

.itnbox ul {
    width: 160px;
    display: inline-block;
    position: center;
}

div.orders {

}

div.column {
    width: 175px;
    float: left;
    height: auto;
    margin: 2px;
    min-height: 50vh;
}

label, input { display:block; }
input.text { margin-bottom:12px; width:95%; padding: .4em; }
fieldset { padding:0; border:0; margin-top:25px; }
.ui-dialog .ui-state-error { padding: .3em; }

#dateInput {
  padding-bottom: 20px;
}
